## 1) Data Collection 

Initially we started using Spotifys own API with a python library called spotipy to harvest our data. However, due to sending to many requests we reached their WEB API rate limit. Hence, we acknowledged the server resource limits and proceeded to look for datasets on various places such as Amazon's AWS datasets, OpenDataMonitor.eu, OpenMLG.org, Kaggle and reddits r/datasets. 

On reddit, we found a dataset linked to kaggle user named asaniczka. This data was updated to include songs from 2024, which fitted perfect for our own time limit. We wanted ot include data that were not more than 12 months old. 

Hence we will now start the data collection process, using python, pandas, matplotlib and searborn-

Link: https://www.kaggle.com/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated?rvi=1

In [55]:
import pandas as pd

df = pd.read_csv('universal_top_spotify_songs.csv') 

pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 30)

In [56]:
df.head()

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,duration_ms,album_name,album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2KslE17cAJNHTsI2MI0jb2,Standing Next to You,Jung Kook,1,0,0,VN,2024-04-22,92,False,206019,GOLDEN,2023-11-03,0.711,0.809,2,-4.389,0,0.0955,0.0447,0.000000,0.3390,0.816,106.017,4
1,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),"Taylor Swift, Post Malone",2,0,48,VN,2024-04-22,88,False,228965,THE TORTURED POETS DEPARTMENT,2024-04-18,0.675,0.397,11,-10.895,1,0.0245,0.4990,0.000006,0.0939,0.319,95.988,4
2,2xOhv7XudrBDtkID1jwsFE,Từng Là,Vũ Cát Tường,3,1,0,VN,2024-04-22,71,False,252500,Từng Là,2024-03-01,0.808,0.414,5,-10.950,1,0.0380,0.8640,0.000118,0.1740,0.609,115.041,4
3,2HRgqmZQC0MC7GeNuDIXHN,Seven (feat. Latto) (Explicit Ver.),"Jung Kook, Latto",4,-1,0,VN,2024-04-22,87,True,183550,GOLDEN,2023-11-03,0.790,0.831,11,-4.185,1,0.0440,0.3120,0.000000,0.0797,0.872,124.987,4
4,3qhYidu0cemx1v9PgTtpS5,Chúng Ta Của Tương Lai,Sơn Tùng M-TP,5,0,-3,VN,2024-04-22,73,False,249871,Chúng Ta Của Tương Lai,2024-03-08,0.694,0.556,0,-7.097,1,0.0805,0.7870,0.006880,0.1150,0.485,145.954,4

The info() method is used to get a quick overview of the dataset, most specifically on the total amount of rows, columns, each atttribute type and number of 

As we can see, the dataset is fairly large and contains approximately 675.000 rows. We will now proceed to investigate the data further

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674853 entries, 0 to 674852
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   spotify_id          674853 non-null  object
 1   name                674828 non-null  object
 2   artists             674828 non-null  object
 3   daily_rank          674853 non-null  int64
 4   daily_movement      674853 non-null  int64
 5   weekly_movement     674853 non-null  int64
 6   country             665696 non-null  object
 7   snapshot_date       674853 non-null  object
 8   popularity          674853 non-null  int64
 9   is_explicit         674853 non-null  bool
 10  duration_ms         674853 non-null  int64
 11  album_name          674603 non-null  object
 12  album_release_date  674603 non-null  object
 13  danceability        674853 non-null  float64
 14  energy              674853 non-null  float64
 15  key                 674853 non-null  int64
 16  loudness            674853 non-null  float64
 17  mode                674853 non-null  int64
 18  speechiness         674853 non-null  float64
 19  acousticness        674853 non-null  float64
 20  instrumentalness    674853 non-null  float64
 21  liveness            674853 non-null  float64
 22  valence             674853 non-null  float64
 23  tempo               674853 non-null  float64
 24  time_signature      674853 non-null  int64
dtypes: bool(1), float64(9), int64(8), object(7)
memory usage: 124.2+ MB

## 2) Data Pre-processing

in this part we will start to explore the datasat further in order to understand its underlying structure. This step includes handling any missing values, duplication and outliers. 

When handling missing values, there are sevveral techniques one can use, depending on whether the data is numerical, text and cateogorical. 

We can choose to either get rid of the missing values or use imputation to subset for missing values. 

Let's go by imputation, as the amount of missing values in relation to our whole dataset is very low. 

Now a better way to do this to make sure that we do not have any missing values in our test_set or training set is to use SimpleIMputer from sklean. 

The benenift is that it will store the median value of all our attributes, which enables us to impute missing value on our test_Set, training_Set, validation_set and any other new data in the future.

In [58]:
df.isna().sum()

spotify_id               0
name                    25
artists                 25
daily_rank               0
daily_movement           0
weekly_movement          0
country               9157
snapshot_date            0
popularity               0
is_explicit              0
duration_ms              0
album_name             250
album_release_date     250
danceability             0
energy                   0
key                      0
loudness                 0
mode                     0
speechiness              0
acousticness             0
instrumentalness         0
liveness                 0
valence                  0
tempo                    0
time_signature           0
dtype: int64

In [59]:
df.shape

(674853, 25)

In [53]:
missing_names = df[df['name'].isna()]

missing_names

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,duration_ms,album_name,album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
131687,3vz3SKnCyJCzPuXWLoGfdG,NaN,NaN,20,30,30,UY,2024-03-14,0,False,0,NaN,NaN,0.890,0.615,1,-3.753,1,0.2230,0.0220,0.000,0.0583,0.5820,98.071,4
135132,3vz3SKnCyJCzPuXWLoGfdG,NaN,NaN,6,44,44,AR,2024-03-14,0,False,0,NaN,NaN,0.890,0.615,1,-3.753,1,0.2230,0.0220,0.000,0.0583,0.5820,98.071,4
337837,2h4b8QdmU4nxZrlpz7INIs,NaN,NaN,1,49,49,IS,2024-01-18,0,False,0,NaN,NaN,0.780,0.838,1,-5.399,0,0.0566,0.0134,0.128,0.1420,0.0369,140.007,4
492887,2V2K1hzCtgj9xAnga9WUTy,NaN,NaN,18,-1,-1,ZA,2023-12-06,0,False,0,NaN,NaN,0.733,0.958,5,-8.262,0,0.0670,0.0633,0.693,0.3040,0.2100,118.024,4
587515,7lyv2sysHCzFjypILxAynT,NaN,NaN,36,14,14,VE,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
587847,7lyv2sysHCzFjypILxAynT,NaN,NaN,18,32,32,SV,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
588384,7lyv2sysHCzFjypILxAynT,NaN,NaN,5,45,45,PE,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
588461,7lyv2sysHCzFjypILxAynT,NaN,NaN,32,18,18,PA,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
588675,7lyv2sysHCzFjypILxAynT,NaN,NaN,46,4,4,NI,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
589543,7lyv2sysHCzFjypILxAynT,NaN,NaN,25,25,25,HN,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
589647,7lyv2sysHCzFjypILxAynT,NaN,NaN,29,21,21,GT,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
589880,7lyv2sysHCzFjypILxAynT,NaN,NaN,12,38,38,ES,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
590035,7lyv2sysHCzFjypILxAynT,NaN,NaN,17,33,33,EC,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
590289,7lyv2sysHCzFjypILxAynT,NaN,NaN,21,29,29,CR,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
590360,7lyv2sysHCzFjypILxAynT,NaN,NaN,42,8,8,CO,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
590377,7lyv2sysHCzFjypILxAynT,NaN,NaN,9,41,41,CL,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
590629,7lyv2sysHCzFjypILxAynT,NaN,NaN,11,39,39,BO,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.000,0.0699,0.5330,90.019,4
591516,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,48,2,2,SV,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.000,0.0906,0.5410,89.991,4
592043,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,25,25,25,PE,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.000,0.0906,0.5410,89.991,4
593532,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,20,30,30,ES,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.000,0.0906,0.5410,89.991,4
593705,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,43,7,7,EC,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.000,0.0906,0.5410,89.991,4
593960,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,48,2,2,CR,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.000,0.0906,0.5410,89.991,4
594049,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,37,13,13,CL,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.000,0.0906,0.5410,89.991,4
594299,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,37,13,13,BO,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.000,0.0906,0.5410,89.991,4
661663,6yxtsR3nc3aUL1wcbLn8A3,NaN,NaN,30,1,20,NG,2023-10-21,0,False,0,NaN,NaN,0.791,0.515,1,-8.178,0,0.1680,0.5540,0.288,0.0821,0.5070,102.932,4

In [54]:
missing_country = df[df['country'].isna()]

missing_country

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,duration_ms,album_name,album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
3750,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),"Taylor Swift, Post Malone",1,49,49,NaN,2024-04-20,0,False,228965,THE TORTURED POETS DEPARTMENT,2024-04-18,0.675,0.397,11,-10.895,1,0.0245,0.4990,0.000006,0.0939,0.3190,95.988,4
3751,3NMrVbIVWT3fPXBj0rNDKG,The Tortured Poets Department,Taylor Swift,2,48,48,NaN,2024-04-20,0,True,293048,THE TORTURED POETS DEPARTMENT,2024-04-18,0.595,0.421,0,-8.377,1,0.0261,0.0518,0.000002,0.1180,0.2610,110.305,4
3752,2F3N9tdombb64aW6VtZOdo,Down Bad,Taylor Swift,3,47,47,NaN,2024-04-20,0,True,261228,THE TORTURED POETS DEPARTMENT,2024-04-18,0.546,0.360,11,-10.383,1,0.0774,0.5540,0.000000,0.0966,0.1810,159.755,4
3753,0mWVScJbxO3tbXuiZOxYZE,"So Long, London",Taylor Swift,4,46,46,NaN,2024-04-20,0,False,262974,THE TORTURED POETS DEPARTMENT,2024-04-18,0.488,0.545,9,-11.388,1,0.3170,0.7300,0.004600,0.0832,0.3010,160.096,4
3754,05msZuGKP3OCUGQnvLBOf4,My Boy Only Breaks His Favorite Toys,Taylor Swift,5,45,45,NaN,2024-04-20,0,False,203801,THE TORTURED POETS DEPARTMENT,2024-04-18,0.593,0.582,0,-7.392,1,0.0285,0.1650,0.000000,0.3100,0.4360,97.079,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671257,4SW9gHnW8NfKOdqmh0ij45,Fruto,"Bizarrap, Milo j",46,4,0,NaN,2023-10-18,88,False,132294,en dormir sin Madrid,2023-10-04,0.801,0.517,2,-8.205,0,0.2690,0.4940,0.000001,0.3550,0.9230,160.254,4
671258,2QjOHCTQ1Jl3zawyYOpxh6,Sweater Weather,The Neighbourhood,47,3,0,NaN,2023-10-18,92,False,240400,I Love You.,2013-04-19,0.612,0.807,10,-2.810,1,0.0336,0.0495,0.017700,0.1010,0.3980,124.053,4
671259,4Jc7252S1P99DjQ1lNGEOc,CYBERTRUCK,Bad Bunny,48,2,0,NaN,2023-10-18,86,True,191959,nadie sabe lo que va a pasar mañana,2023-10-13,0.704,0.905,6,-4.948,0,0.3380,0.3710,0.000002,0.1070,0.0991,151.823,4
671260,5PyDJG7SQRgWXefgexqIge,Agora Hills,Doja Cat,49,1,0,NaN,2023-10-18,77,True,265360,Scarlet,2023-09-20,0.755,0.687,8,-6.247,0,0.1010,0.1830,0.000177,0.1250,0.3810,123.010,4
671261,1dGr1c8CrMLDpV6mPbImSI,Lover,Taylor Swift,50,0,0,NaN,2023-10-18,91,False,221306,Lover,2019-08-23,0.359,0.543,7,-7.582,1,0.0919,0.4920,0.000016,0.1180,0.4530,68.534,4

In [51]:
#Let's look at all the countries in the data
df['country'].unique()

array(['VN', 'UA', 'TW', 'TR', 'TH', 'SV', 'PT', 'PL', 'PK', 'PH', 'PE',
       'PA', 'NI', 'MY', 'MX', 'KZ', 'JP', 'IT', 'IL', 'ID', 'HU', 'HN',
       'HK', 'GT', 'GR', 'FR', 'FI', 'EG', 'DO', 'CZ', 'CR', 'CL', 'BY',
       'BR', 'BO', 'BE', 'AR', 'SK', 'SG', 'NL', 'KR', nan, 'ZA', 'US',
       'SE', 'SA', 'RO', 'NZ', 'NO', 'NG', 'MA', 'LV', 'LU', 'LT', 'IS',
       'IE', 'GB', 'ES', 'EE', 'DK', 'DE', 'CH', 'CA', 'BG', 'AU', 'AT',
       'VE', 'UY', 'PY', 'IN', 'EC', 'CO', 'AE'], dtype=object)

In [40]:
#In our project we will focus on solely the european market, so we will filter the data to include only the european countries
european_countries = ['UA', 'PT', 'PL', 'IT', 'HU', 'GR', 'FR', 'FI', 'CZ', 'BE', 'SK', 'NL', 'SE', 'RO', 'NO', 'LV', 'LU', 'LT', 'IS', 'IE', 'GB', 'ES', 'EE', 'DK', 'DE', 'CH', 'BG', 'AT']

#Now we filter the DataFrame to include only rows where the 'country' column is in the list of European countries
df = df[df['country'].isin(european_countries)]

In [41]:
#That leves us with approximately 250 k rows worth of data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258485 entries, 50 to 674752
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   spotify_id          258485 non-null  object
 1   name                258482 non-null  object
 2   artists             258482 non-null  object
 3   daily_rank          258485 non-null  int64
 4   daily_movement      258485 non-null  int64
 5   weekly_movement     258485 non-null  int64
 6   country             258485 non-null  object
 7   snapshot_date       258485 non-null  object
 8   popularity          258485 non-null  int64
 9   is_explicit         258485 non-null  bool
 10  duration_ms         258485 non-null  int64
 11  album_name          258396 non-null  object
 12  album_release_date  258396 non-null  object
 13  danceability        258485 non-null  float64
 14  energy              258485 non-null  float64
 15  key                 258485 non-null  int64
 16  loudness            258485 non-null  float64
 17  mode                258485 non-null  int64
 18  speechiness         258485 non-null  float64
 19  acousticness        258485 non-null  float64
 20  instrumentalness    258485 non-null  float64
 21  liveness            258485 non-null  float64
 22  valence             258485 non-null  float64
 23  tempo               258485 non-null  float64
 24  time_signature      258485 non-null  int64
dtypes: bool(1), float64(9), int64(8), object(7)
memory usage: 49.5+ MB

In [42]:
#Let's start by handling missing data:
df.isna().sum()

spotify_id             0
name                   3
artists                3
daily_rank             0
daily_movement         0
weekly_movement        0
country                0
snapshot_date          0
popularity             0
is_explicit            0
duration_ms            0
album_name            89
album_release_date    89
danceability           0
energy                 0
key                    0
loudness               0
mode                   0
speechiness            0
acousticness           0
instrumentalness       0
liveness               0
valence                0
tempo                  0
time_signature         0
dtype: int64

In [45]:
#Let's subset our dataframe to look at missing album names:
df_missing_album = df[df['album_name'].isna()]

In [46]:
df_missing_album

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,duration_ms,album_name,album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
23599,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,50,0,-3,IE,2024-04-15,85,False,183306,NaN,NaN,0.491,0.583,7,-10.964,1,0.0376,0.1850,0.0,0.4060,0.908,150.566,4
49146,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,47,0,-13,IE,2024-04-08,84,False,183306,NaN,NaN,0.491,0.583,7,-10.964,1,0.0376,0.1850,0.0,0.4060,0.908,150.566,4
52796,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,47,2,2,IE,2024-04-07,84,False,183306,NaN,NaN,0.491,0.583,7,-10.964,1,0.0376,0.1850,0.0,0.4060,0.908,150.566,4
56448,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,49,-1,1,IE,2024-04-06,84,False,183306,NaN,NaN,0.491,0.583,7,-10.964,1,0.0376,0.1850,0.0,0.4060,0.908,150.566,4
60097,3yrSvpt2l1xhsV9Em88Pul,Brown Eyed Girl,Van Morrison,48,2,2,IE,2024-04-05,84,False,183306,NaN,NaN,0.491,0.583,7,-10.964,1,0.0376,0.1850,0.0,0.4060,0.908,150.566,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501768,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,49,1,1,LU,2023-12-04,83,False,120693,NaN,NaN,0.512,0.339,8,-13.119,1,0.0498,0.7270,0.0,0.0977,0.951,174.609,4
503264,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,45,5,5,CH,2023-12-04,83,False,120693,NaN,NaN,0.512,0.339,8,-13.119,1,0.0498,0.7270,0.0,0.0977,0.951,174.609,4
503656,4HEOgBHRCExyYVeTyrXsnL,Jingle Bells - Remastered 1999,Frank Sinatra,37,13,13,AT,2023-12-04,83,False,120693,NaN,NaN,0.512,0.339,8,-13.119,1,0.0498,0.7270,0.0,0.0977,0.951,174.609,4
589880,7lyv2sysHCzFjypILxAynT,NaN,NaN,12,38,38,ES,2023-11-10,0,True,0,NaN,NaN,0.730,0.792,0,-4.643,1,0.0517,0.0232,0.0,0.0699,0.533,90.019,4
593532,0kvD9ksvXyRHANPypIpkIh,NaN,NaN,20,30,30,ES,2023-11-09,0,True,0,NaN,NaN,0.716,0.824,0,-4.588,1,0.0497,0.0124,0.0,0.0906,0.541,89.991,4